<body>
    <div>
        <mat-toolbar>
            <mat-toolbar-row class="navbar1">
                <div class="title"><a [routerLink] = "'/home'" style="text-decoration:none;color:white;"><span><b>Nile.in</b></span></a></div>
            <!--<div class="add"><span style="font-size:small; margin-left:23px;">Hello<br><mat-icon>place</mat-icon><span style="font-size: small;"><b>Select your Address</b></span></span></div> -->
            <div style="padding-left: 11rem;">
                <div id="searchBox">
                    <input type="text" name="searchItems" class="textBox" placeholder="Search your products here">
                    <!--<div><button id="allButton" value="product" name="category">All</button></div> -->
                </div> 
                <div><button id="searchButton"><div><mat-icon>search</mat-icon></div></button></div>
            </div>
            <div>
                <a [routerLink]="'/signin'" style="color:white;padding-left: 10rem;"><span style="font-size: small;">Hello, Sign In</span></a>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!--
            <div>
                <span style="font-size:small">returns</span><br><span style="font-size: small;"><b>& Orders</b></span>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a [routerLink]="'/cart'" style="color:white;"><div>
                <mat-icon>shopping_cart</mat-icon>
                <span style="font-size: small;"><b>Cart</b></span>
            </div></a> -->
            </mat-toolbar-row>
            <mat-toolbar-row class="navbar2">
                <!--
                <div><mat-icon style="margin-top: 0.6rem;">menu</mat-icon></div><div><span style="font-size: small"><b>All</b></span></div>

                <div style="margin-left: 1.5rem;"><span style="font-size: small">Best Sellers</span></div>
                <div style="margin-left: 1.5rem;"><a [routerLink]="" class="cats"><span style="font-size: small">Customer Service</span></a></div>
                <div style="margin-left: 1rem;"><a [routerLink]="'categories/mobile'" class="cats"><span style="font-size: small">Mobiles</span></a></div>
                <div style="margin-left: 1.5rem;"><a [routerLink]="'/categories/fashion'" class="cats"><span style="font-size: small">Fashion</span></a></div>
                <div style="margin-left: 1.5rem;"><a [routerLink]="'/categories/newreleases'" class="cats"><span style="font-size: small">New Releases</span></a></div>
                <div style="margin-left: 1.5rem;"><a [routerLink]="'/categories/deals'" class="cats"><span style="font-size: small">Today's Deals</span></a></div>
                -->
                <div style="margin-left: 1rem;"><a [routerLink]="'/categories/electronics'" class="cats"><span style="font-size: small">Electronics</span></a></div>
                <div style="margin-left: 1.5rem;"><a [routerLink]="'/categories/books'" class="cats"><span style="font-size: small">Books</span></a></div>
                <div style="margin-left: 1.5rem;"><a [routerLink]="'/categories/homenkitchen'" class="cats"><span style="font-size: small">Home & Kitchen</span></a></div>
                <div style="margin-left: 1.5rem;"><a [routerLink]="'/categories/computers'" class="cats"><span style="font-size: small">Computers</span></a></div>
                <div style="margin-left: 1.5rem;"><a [routerLink]="'/categories/toysngames'" class="cats"><span style="font-size: small">Toys & Games</span></a></div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="mainsec">
        <div>
            <section class="sec">
                <div style="padding-left: 3rem;width:13rem;">
                    <img src="../assets/mobile/m1.jpg" height="218px" width="102px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:5.5rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 2.5rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m2.jpg" height="218px" width="114px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:5.3rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;">
                    <img src="../assets/mobile/m3.jpg" height="218px" width="170px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>iQOO Z5 5G (Mystic Space, 8GB RAM, 128GB Storage) | Snapdragon 778G 5G Processor | <br>5000mAh Battery | 44W FlashCharge</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3.4rem;margin-top: 11rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m4.jpg" height="218px" width="174px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Redmi 9A Sport (Coral Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m5.jpg" height="218px" width="174px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Samsung Galaxy M12 (White,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48<br>MP Quad Camera | 90Hz Refresh Rate</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3rem;margin-top: 11rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m6.jpg" height="218px" width="174px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Storage)</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m7.jpg" height="218px" width="170px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Redmi Note 10T 5G (Metallic Blue, 6GB RAM, 128GB Storage) | Dual 5G | 90Hz Adaptive Refresh<br>Rate | MediaTek Dimensity 700 7nm Processor</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3.2rem;margin-top: 11rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m8.jpg" height="218px" width="170px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage)</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3.2rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m9.jpg" height="218px" width="170px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>iQOO Z6 5G (Chromatic Blue, 8GB RAM, 128GB Storage) | Snapdragon® 695 5G | 120Hz FHD+<br>Display | 5000mAh Battery | No Cost EMI Upto 9 Months</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3.2rem;margin-top: 11rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m10.jpg" height="218px" width="170px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Tecno Spark 8T (Turquoise Cyan,7GB Expandable RAM, 64GB Storage)| 50MP AI Camera | 6.6"<br>FHD+Display | 5000mAh</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3.2rem;margin-top: 11rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 3rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m11.jpg" height="218px" width="130px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Samsung Galaxy Note 20 Ultra 5G with Snapdragon 865+ (Mystic Black, 12GB RAM, 256GB Storage)</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3.7rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 3rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m12.jpg" height="218px" width="102px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Samsung Galaxy S20 FE Cloud Navy, 8GB RAM, 128GB Storage</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:5.5rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m13.jpg" height="218px" width="170px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Apple iPhone 13 Pro Max (128GB) - Graphite</p>
                    <p style="color:chocolate">&#8377; 15990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3.3rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
        <div>
            <section class="sec">
                <div style="padding-left: 1rem;width:13rem;background-color: rgb(182, 207, 229);">
                    <img src="../assets/mobile/m14.jpg" height="218px" width="170px" style="float:left;position:relative;">
                </div>
                <div style="padding-left: 15rem;float:left;position:absolute;padding-top:1rem;">
                    <p>Apple iPhone 13 (128GB) - Starlight</p>
                    <p style="color:chocolate">&#8377; 45990</p>
                    <p>Get it by <b>Friday</b></p>
                    <p>FREE Delivery by Nile</p>
                </div>
                <div style="float:left;margin-left:3.3rem;margin-top: 10rem;">
                    <a [routerLink]="'/buy'"><button class="btn btn-success" style="width:200px;">Buy Now</button></a>
                </div>
                <!--
                <div style="float:left;margin-left:1rem;margin-top: 10rem;">
                    <button class="btn btn-primary" style="width:130px;">Add to Cart</button>
                </div>
                -->
            </section>
        </div>
    </div>
    <div class="newsec">
    <div style="background-color: rgb(56, 62, 70);color: white;height: 40px">
        <div style="padding-top: 7px;"><span style="font-size: small;">Back to top</span></div>
    </div>
    <div style="background-color: rgb(41, 47, 54);color: white;height: 300px;">
        <div style="padding-top: 4rem;">
            <div style="float:left;padding-left: 12rem;text-align: left;">
                <span style="font-weight:500;">Get to know Us</span><br>
                <span style="font-size: small;">About Us</span><br>
                <span style="font-size: small;">Careers</span><br>
                <span style="font-size: small;">Press Releases</span><br>
                <span style="font-size: small;">Nile Cares</span><br>
                <span style="font-size: small;">Give a Smile</span><br>
                <span style="font-size: small;">Nile Science</span>
            </div>
            <div style="float:left;padding-left: 9rem; text-align: left;">
                <span style="font-weight:500;">Connect with Us</span><br>
                <span style="font-size: small;">Facebook</span><br>
                <span style="font-size: small;">Twitter</span><br>
                <span style="font-size: small;">Instagram</span>
            </div>
            <div style="float:left;padding-left: 9rem;text-align: left;">
                <span style="font-weight:500;">Make Money with Us</span><br>
                <span style="font-size: small;">Sell on Nile</span><br>
                <span style="font-size: small;">Sell under Nile Accelerator</span><br>
                <span style="font-size: small;">Nile Global Selling</span><br>
                <span style="font-size: small;">Become an Affiliate</span><br>
                <span style="font-size: small;">Fulfillment by Nile</span><br>
                <span style="font-size: small;">Advertise Your Products</span><br>
                <span style="font-size: small;">Nile Pay on Merchants</span>
            </div>
            <div style="float:left;padding-left: 9rem;text-align: left;">
                <span style="font-weight:500;">Let Us Help You</span><br>
                <span style="font-size: small;">COVID-19 and Amazon</span><br>
                <span style="font-size: small;">Your Account</span><br>
                <span style="font-size: small;">Returns Centre</span><br>
                <span style="font-size: small;">100% Purchase Protection</span><br>
                <span style="font-size: small;">Nile App Download</span><br>
                <span style="font-size: small;">Nile Assistant Download</span><br>
                <span style="font-size: small;">Help</span>
            </div>
        </div>
    </div>
    <div style="background-color: rgb(25, 28, 32);color: white;height: 50px;">
        <div style="text-align:center; padding-top: 1rem;">
            <span style="font-size: small;">&copy; 2022, Nile.com, Inc. or its Affiliates</span>
        </div>
    </div>
    </div>
</body>
<router-outlet></router-outlet>
